@import 'variaveis';

.mapa {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	z-index: 0;

  .mapaImg {
    width: 40%;
		min-width: 300px;
    height: auto;
  }
}