@use 'variaveis' as *;

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  background-color: $cor-0;
  opacity: 0.8;
  z-index: -1;
}

.video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -2;
}
